.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.overlay.show {
    display: block;
}

.brandWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.desktopMenu {
    display: none;
}

.mobileNav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    min-height: 100vh;
    background: #fff;
    z-index: 999;
    padding-top: 20px;
    /* transform: translateX(4000px); */
    transition: transform 0.5s linear;
}

.mobileNav.active {
    display: block;
    transform: translateX(0);
}

.mobileNav a {
    display: block !important;
    padding: 10px;
}

.mobileNav a:hover {
    background: #ccc;
}

.closeBtn {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.brandWrapper nav a {
    display: inline-block;
    padding: 10px;
    color: #7E1CFE;
    font-size: 18px;
    text-decoration: none;
}

.brandWrapper nav a.active {
    color: sandybrown;
}

.brand {
    width: 100px;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .desktopMenu {
        display: block;
    }
}